<?xml version="1.0" encoding="utf-8"?>
<!--
此文件由 Web 项目的发布/打包过程使用。可以通过编辑此 MSBuild 文件
自定义此过程的行为。为了解与此相关的更多内容，请访问 https://go.microsoft.com/fwlink/?LinkID=208121。 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>Localhost</MSDeployServiceURL>
    <DeployIisAppPath>StoryBlog_WebAPI</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName />
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="StoryBlog_DBEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=.;Initial Catalog=StoryBlog_DB;Persist Security Info=True;User ID=sa;Password=1994" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.;Initial Catalog=StoryBlog_DB;Persist Security Info=True;User ID=sa;Password=1994;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\StoryBlog_DBEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.Model_sb.csdl|res://*/Models.Model_sb.ssdl|res://*/Models.Model_sb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=StoryBlog_DB;persist security info=True;user id=sa;password=1994;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="StoryBlog_DBEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Model_sb.csdl|res://*/Models.Model_sb.ssdl|res://*/Models.Model_sb.msl;provider=System.Data.SqlClient;provider connection string="data source=.;initial catalog=StoryBlog_DB;persist security info=True;user id=sa;password=1994;MultipleActiveResultSets=True"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>